[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
django-heroku = "*"
gunicorn = "*"
django-crispy-forms = "*"
dj-database-url = "*"
cloudinary = "*"
whitenoise = "*"
pillow = "*"
django-mediumeditor = {git = "https://github.com/pena56/django-mediumeditor.git"}

[requires]
python_version = "3.7"
