{% extends 'base.html' %}
{% load static %}

{% block content %}

        
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Explore All Topics</span></h2>
            </div>
            <div class="card-columns listfeaturedtag">

                <!-- begin post -->
                {% for topic in topics %}
                <div class="card">
                    <div class="row">
                        <div class="col-md-5 wrapthumbnail">
                            <a href="{{topic.get_absolute_url}}">
                                <div class="thumbnail" style="background-image:url({{topic.topic_img.url}});">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-block">
                                <h2 class="card-title"><a href="{{topic.get_absolute_url}}">{{topic.name}}</a></h2>
                                <h4 class="card-text">{{topic.desc}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->

                {% empty %}
                <h3 class="text-center">No Topics Available</h3>
                {% endfor %}
            </div>
        </section>
    </div>
</section>
<!-- End List Posts
	================================================== -->
{% endblock %}